@import url('https://fonts.googleapis.com/css2?family=Exo:wght@900&display=swap');

html, body {
    margin: 0;
    padding: 0;
    margin: 0;
    font-family: Exo, sans-serif;
    background: linear-gradient(#f3f1f1, #b8b5b5);
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.form p {
    margin: 0;
    padding: 0;
}

h1 {
    text-transform: uppercase;
    color: #000;
    font-size: 45px;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-number {
    width: 25px;
    border: 2px solid #474545;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 4px;
}

.user-submit {
    padding: 2px;
    padding-right: 6px;
    padding-left: 6px;
    background-color: cornsilk;
    border-radius: 4px;
    font-family: exo, sans-serif;
    border: 2px solid #474545;
    cursor: pointer;
 }

 .copy-input {
     margin-right: 10px;
 }

.prompt {
    font-size: 14px;
    color: #e44848;
}

button {
    padding: 2px;
    padding-right: 6px;
    padding-left: 6px;
    background-color: #fff8dc;
    border-radius: 4px;
    font-family: exo;
    border: 2px solid #474545;
    cursor: pointer;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}
.container {
    height: 600px;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 15px solid #968e8e;
    border-radius: 14px;
}

.row {
    width: 100%;
    display: flex;
    flex: 1;
}

.column {
    border: 1px solid #f3efef;
    flex: 1;
}

.column-black {
    border: 1px solid #1a1919;
    background-color: #2e2b2b;
    flex: 1;
}

.column-red {
    border: 1px solid #614747;
    background-color: #da2d2d;
    flex: 1;
}

.column-blue {
    border: 1px solid #433e57;
    background-color: #3f33dd;
    flex: 1;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-family: monospace;
    font-size: 13px;
    margin-top: auto;
}
a {
    text-decoration: none;
}